<div class="row justify-content-center">
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3" style="margin-top: 30px;">Dades del nou usuari</h4>
    <form class="needs-validation" novalidate [formGroup]="registro" > <!--(ngSubmit)="añadirUsuario()-->
      
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="profilePhoto">Foto de perfil</label>
          <input  type="file" #profilePhoto class="form-control" id="profilePhoto"  placeholder="" value="" accept="image/*" (change)="selectFile($event)">
        </div>
        <div class="col-md-6 mb-3">
          <label for="firstName">Nom</label>
          <input #firstName type="text" class="form-control" id="firstName" placeholder="" value="" required>
          <div class="invalid-feedback">
            El nom es un camp obligatori.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Cognoms</label>
          <input #lastName type="text" class="form-control" id="lastName" placeholder="" value="" required>
          <div class="invalid-feedback">
            El cognom es un camp obligatori.
          </div>
        </div>
        <div class="mb-3">
          <label for="username">Nom d'usuari</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input #username type="text" class="form-control" id="username" placeholder="Username" required>
            <div class="invalid-feedback" style="width: 100%;">
              El nom d'usuari es un camp obligatori.
            </div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="password">Contrasenya</label>
          <input #password type="password" class="form-control" id="password" placeholder="1234">
          <div class="invalid-feedback">
            Introdueix una contrasenya valida si us plau.
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Correu </label>
          <input #email type="email" class="form-control" id="email" placeholder="EAmola@exemple.com">
          <div class="invalid-feedback">
            Introdueix un correu valid si us plau.
          </div>
        </div>

        <div class="mb-3">
          <label for="phone">Teléfon</label>
          <input #phone type="text" class="form-control" id="phone" placeholder="1234" required>
          <div class="invalid-feedback">
            Si us plau, introdueix el teu telefon movil.
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="birthDay">Data de naixement</label>
            <!--input #birthDay type="date" class="form-control" id="birthDay" placeholder="28/12/0000" required-->

              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input #birthDay matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
            
          </div>
        </div>
      </div>
      <div>
        <button  class="btn-desa" (click)="addUsuario(firstName.value,lastName.value,username.value,phone.value,birthDay.value,email.value,password.value)">Afegeix usuari</button> 
    </div>
    </form>
  </div>
</div>


          <!---
    <div class="col-md-5 mb-3">
      <label for="country">Comarca</label>
      <select class="custom-select d-block w-100" id="country" required>
        <option value="">Seleccioni...</option>
        <option>United States</option>
      </select>
      <div class="invalid-feedback">
        Seleccioni una comarca si us plau.
      </div>

      <div class="mb-3">
        <label for="username">Nom d'usuari</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" id="username" placeholder="Username" required>
          <div class="invalid-feedback" style="width: 100%;">
            El nom d'usuari es un camp obligatori.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Correu <span class="text-muted">(Optional)</span></label>
        <input type="email" class="form-control" id="email" placeholder="EAmola@exemple.com">
        <div class="invalid-feedback">
          Introdueix un correu valid si us plau.
        </div>
      </div>

      <div class="mb-3">
        <label for="address">Adreça</label>
        <input type="text" class="form-control" id="address" placeholder="Carrer San Pepito,1234" required>
        <div class="invalid-feedback">
          Si us plau, introdueix la teva adreça.
        </div>
      </div>

      <div class="row">
  <div class="col-md-5 mb-3">
    <label for="country">Comarca</label>
    <select class="custom-select d-block w-100" id="country" required>
      <option value="">Seleccioni...</option>
      <option>United States</option>
    </select>
    <div class="invalid-feedback">
      Seleccioni una comarca si us plau.
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="state">Població</label>
    <select class="custom-select d-block w-100" id="state" required>
      <option value="">Seleccioni...</option>
      <option>California</option>
      
    </select>
    <div class="invalid-feedback">
      Si us plau, seleccioni un poble.
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <label for="zip">Codi postal</label>
    <input type="text" class="form-control" id="zip" placeholder="" required>
    <div class="invalid-feedback">
      CP necessari.
    </div>
  </div>
</div> 


<!--<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form #formRegister="ngForm" (ngSubmit)="onRegister(formRegister)">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  {{msgError}}
                </div>
                <div class="form-group">
                  <input type="text" #name="ngModel" name="name" class="form-control" placeholder="Name" [(ngModel)]="user.name" required minlength="4"
                    maxlength="15">
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="name.touched && !name.valid">
                  <div *ngIf="name.errors.required">Name is required</div>
                  <div *ngIf="name.errors.minlength">Name must be at least 4 characters</div>
                </div>
                <div class="form-group">
                  <input type="email" #email="ngModel" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" required
                    minlength="8">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.minlength">Email must be at least 8 characters</div>
                </div>
                <div class="form-group">
                  <input type="password" #password="ngModel" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password"
                    required minlength="5" maxlength="10">
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">Password must be at least 5 characters</div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                <div class="form-group">
                  <a routerLink="/user/login" class="form-control login-user">Do you have account?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>-->
 
