<mat-card>
    <mat-card-title>LogIn</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm"> <!--(ngSubmit)="onLogin()"-->
            <p>
                <mat-form-field>
                    <input #username type="text" formControlName="username" manInput placeholder="Usuari" class="input-form" required/>
                    <mat-error *ngIf="isValidField('username')">
                        {{getErrorMsg("username")}}
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input #password type="password" formControlName="password" manInput placeholder="Contrasenya" class="input-form" required/>
                    <mat-error *ngIf="isValidField('password')">
                        {{getErrorMsg("password")}}
                    </mat-error>
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="primary" (click)="onLogin(username.value,password.value)">LogIn</button>
        </form>
    </mat-card-content>
</mat-card>
