<mat-card>
    <mat-card-title>LogIn</mat-card-title>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <input type="text" manInput placeholder="Usuari" class="input-form"/>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" manInput placeholder="Contrasenya" class="input-form"/>
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="primary">LogIn</button>
        </form>
    </mat-card-content>
</mat-card>
