.card{
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12),0 1px 3px rgba(0, 0, 0, .24);
    box-sizing: border-box;
    margin: 10px 0 ;
    background-color: #fff;
    max-width: 529px;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2 ease-in-out;
    
}
.card-inner{

    padding: 10px;
    
}