<div class="row justify-content-center" *ngIf="usuario  as user">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3" style="margin-top: 30px; font-size: 30px;">Dades de l'usuari :</h4>
      <form class="needs-validation" novalidate>
        <div>
            <img src="{{this.usuario?.profilePhoto}}" alt="" style="width: 200px; height: 200px; ">
            <input  type="file" #profilePhoto class="form-control" id="profilePhoto"  placeholder="" value="" accept="image/*" (change)="selectFile($event)">
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nom</label>
            <input #firstName type="text" class="form-control" id="firstName"  value="{{this.usuario?.name}}" required>
            <div class="invalid-feedback">
              El nom es un camp obligatori.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Cognoms</label>
            <input #lastName type="text" class="form-control" id="lastName"  value="{{this.usuario?.surname}}" required>
            <div class="invalid-feedback">
              El cognom es un camp obligatori.
            </div>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="username">Nom d'usuari</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input #username type="text" class="form-control" id="username" value="{{this.usuario?.userName}}" required>
            <div class="invalid-feedback" style="width: 100%;">
              El nom d'usuari es un camp obligatori.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="password">Contrasenya</label>
          <input #password type="password" class="form-control" id="password" value="{{this.usuario?.password}}">
          <div class="invalid-feedback">
            Introdueix una contrasenya valida si us plau.
          </div>
        </div>
  
        <div class="mb-3">
          <label for="email">Correu </label>
          <input #email type="email" class="form-control" id="email" value="{{this.usuario?.email}}">
          <div class="invalid-feedback">
            Introdueix un correu vàlid si us plau.
          </div>
        </div>
        <div class="mb-3">
          <label for="phone"> Teléfon </label>
          <input #phone type="text" class="form-control" id="phone" value="{{this.usuario?.phone}}">
          <div class="invalid-feedback">
            Introdueix un teléfon vàlid si us plau.
          </div>
        </div>
        <div class="mb-3">
          <label for="birthDay" style="margin-right: 5px;"> Data de Naixement: </label>
          <mat-form-field appearance="fill">
            <mat-label>{{this.usuario?.birthDate | date}}</mat-label>
            <input #birthDay matInput [matDatepicker]="picker" value="{{this.usuario?.birthDate}}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="invalid-feedback">
            Introdueix una data de naixement valida si us plau.
          </div>
        </div>
        
   
        
        <div>
            <button  class="btn-desa" (click)="updateUser(firstName.value,lastName.value,username.value,phone.value,birthDay.value,email.value,password.value)">Desa els canvis</button> 
        </div>
      </form>
    </div>
  </div>

